* {
  font-family: Arial, Helvetica, sans-serif !important;
}
  
  body{
    background-image: url('../img/Medicos.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
 
.machete{
  border: 2%;
  border-radius: 5vh;
  border:  solid rgb(179, 179, 179) 0.1vw;
  height: 3vh;
  }
.opciones-derecha{
  display: flex;
  justify-content:first baseline;
}

.principal{
  display: flex;
  gap: 20px;
  
}
.secundario{
  margin-left: 40%;
}


.body_major{
  margin-top: 2%;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 3%;
  height: 100vh;
  background-color: #b9e2ff8f;
  border-radius: 1%;
}

.box_left{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 80vh;
  align-items: center;
  gap: 5%;
  
}

.box_right{

  height: 90%;
  width: 60%;
  background-color: white;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 30px;
}

.labels_right{
  display: flex;
  width: 50%;
  flex-direction: column;
}
.box_top{
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
  width: 80%;
  background-color: white;
  border-radius: 5%;
}

.box_bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 15%;
  gap: 9%;
  background-color: white;
  border-radius: 5%;
}

.name_doctor{
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  align-items: center;
}

.number_doctor{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
}

.name_doctor{
  display: flex;
  width: 80%;
  justify-content: center;
}

.link_whatsapp{
  display: flex;
  justify-content: center;
  margin-top: 4%;
  width: 90%;
  background-color: white;
  
}
.celda_WhatsApp{
  display: flex;
  width: 90%;
  border-radius: 30px;
  border-color: #00000022;
  align-items: center;
}
.link_whatsapp p{
  display: flex;
  align-items: center;
}
/* .celdas form-input{
  border-radius: 30px;
  border-color: #00000022;
} */

.celdas_form-input{
  border-radius: 30px;
  border-color: #00000022;
}

Button{
  border-radius: 3px;
  background-color: #10A9FF; 
  color: white;
  border: none;
  width: 50%;
  
}


.img_doctor{
  width: 70%;
  height: 50%;
}

.img_redonda{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
  